@model main.Models.Authorisation.Register
@{
    ViewData["Title"] = "Register";
}
<h2>User Registration</h2>

@*
<fieldset>
    @using(@Html.BeginForm("Register","Account",FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.FirstName)</td>
                <td>@Html.TextBoxFor(model => model.FirstName)</td>
                
            </tr>
            <tr>
                <td></td>
                <td class="text-danger">@Html.ValidationMessageFor(model => model.FirstName)</td>
            </tr>
             <tr>
                <td>@Html.LabelFor(model => model.LastName)</td>
                <td>@Html.TextBoxFor(model => model.LastName)</td>
                
            </tr>
            <tr>
                <td></td>
                <td class="text-danger">@Html.ValidationMessageFor(model => model.LastName)</td>
            </tr>
             <tr>
                <td>@Html.LabelFor(model => model.Phone)</td>
                <td>@Html.TextBoxFor(model => model.Phone)</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-danger">@Html.ValidationMessageFor(model => model.Phone)</td>
            </tr>
             <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-danger">@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
             <tr>
                <td>@Html.LabelFor(model => model.ConfirmPassword)</td>
                <td>@Html.PasswordFor(model => model.ConfirmPassword)</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table>
                        <td><input type="submit" value="Register" class="btn btn-primary" /></td>
                        <td><input type="reset" value="Reset" class="btn btn-primary"/></td>
                    </table>
                </td>
            </tr>
            </table>

            
            
    }
</fieldset>*@


<hr />
<div class="row">

    <div class="col-md-4">
            <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                <tr>
                    <td>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
                     </td>
                </tr>
                 <tr>
                    <td>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
                     </td>
                </tr>
                <tr><td>
                    <div class="form-group">
            <label asp-for="role" class="control-label"></label>
                <div class="col-md-10">
                    @Html.DropDownList("role",@Html.GetEnumSelectList<main.Models.Authorisation.role>())
                    @Html.ValidationMessageFor(model => model.role)
                </div>
            </div>
                </td></tr>

                <tr>
                    <td>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
              </td>
                </tr>
            <tr>
                    <td>

            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
              </td>
                </tr>

                <tr>
                    <td>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                    </td>
               </tr>
                <tr>
              <td>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
              </td>
                </tr>
                 <tr>
                <td>
                    @Html.ValidationMessage("Error",null,new{@class="text text-danger"})
                </td>
            </tr>   
            </table>
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />  <input type="reset" value="Reset" class="btn btn-primary" />
            </div>
            </form>
    </div>
    
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}